@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  width: 93%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  height: 2.6rem;
  min-height: 2.6rem;
  color: white;
}
.gradient-bg {
  background: rgb(248, 58, 60);
  background: -moz-linear-gradient(
    95deg,
    rgba(248, 58, 60, 1) 0%,
    rgba(30, 6, 50, 1) 100%
  );
  background: -webkit-linear-gradient(
    95deg,
    rgba(248, 58, 60, 1) 0%,
    rgba(30, 6, 50, 1) 100%
  );
  background: linear-gradient(
    95deg,
    rgba(248, 58, 60, 1) 0%,
    rgba(30, 6, 50, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f83a3c",endColorstr="#1e0632",GradientType=1);
}

.trans-gradient-bg {
  background: rgb(248, 58, 60);
  background: -moz-linear-gradient(
    95deg,
    rgba(248, 58, 60, 0.8547794117647058) 0%,
    rgba(30, 6, 50, 0.8463760504201681) 100%
  );
  background: -webkit-linear-gradient(
    95deg,
    rgba(248, 58, 60, 0.8547794117647058) 0%,
    rgba(30, 6, 50, 0.8463760504201681) 100%
  );
  background: linear-gradient(
    95deg,
    rgba(248, 58, 60, 0.8547794117647058) 0%,
    rgba(30, 6, 50, 0.8463760504201681) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f83a3c",endColorstr="#1e0632",GradientType=1);
}

.text-gradient {
  width: fit-content;
  background: rgb(248, 58, 60);
  background: -moz-linear-gradient(
    95deg,
    rgba(248, 58, 60, 0.8547794117647058) 0%,
    rgba(30, 6, 50, 0.8463760504201681) 100%
  );
  background: -webkit-linear-gradient(
    95deg,
    rgba(248, 58, 60, 0.8547794117647058) 0%,
    rgba(30, 6, 50, 0.8463760504201681) 100%
  );
  background: linear-gradient(
    95deg,
    rgba(248, 58, 60, 0.8547794117647058) 0%,
    rgba(30, 6, 50, 0.8463760504201681) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f83a3c",endColorstr="#1e0632",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
